# Python cache
__pycache__/
*.pyc

# Virtual environment
venv/
env/

# Environment variables
.env

# Temporary files
temp/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Jupyter / Kaggle
.ipynb_checkpoints/

# Test audio files (optional)
test_audio/
